<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <strong>Sitemap</strong>
        <ul class="sitemap-list">  
          {% for page in site.pages %}
            {% if page.title %}
            <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <strong>Contact Me</strong>
        <ul class="contact-me-list">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
       
        <strong>Follow Me</strong>
        <ul class="social-media-list">
          {% if site.twitter_username %}
          <li>
            {% include profile-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}

          {% if site.github_username %}
          <li>
            {% include profile-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.linkedin_public_link %}
          <li>
            {% include profile-linkedin.html public_link=site.linkedin_public_link %}
          </li>
          {% endif %}

          {% if site.stackoverflow_user and site.stackoverflow_display_name %}
          <li>
            {% include profile-stackoverflow.html user=site.stackoverflow_user display_name=site.stackoverflow_display_name %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
        <p>Subscribe via <a href="{{ "/feed.xml" | prepend: site.baseurl }}"><img class="icon icon--rss" alt="rss" src="{{ site.baseurl }}/assets/img/social-icons/icon-rss-16x16.png"></a></p>

        {% if site.exclude_disclaimer_link_from_footer == nil or exclude_disclaimer_link_from_footer == false %}
          <p>© Sebastian Gulinski | <a href="{{ "/disclaimer/" | prepend: site.baseurl }}">Disclaimer</a></p>
        {% else %}
          <p>© Sebastian Gulinski </p>
        {% endif %}
      </div>
    </div>

  </div>

</footer>
