{% if site.twitter_username %}
	<a class="icon_only" href="https://twitter.com/intent/tweet?text={{ page.title | uri_escape }}&amp;url={{ page.url | prepend: site.baseurl | prepend: site.url }}&amp;via={{ site.twitter_username }}" target="_blank">
		<img class="icon icon--twitter" alt="Twitter" src="{{ "/assets/img/social-icons/icon-twitter-32x32.png" | prepend: site.baseurl }}">
	</a>
{% else %}
	<a class="icon_only" href="https://twitter.com/intent/tweet?text={{ page.title | uri_escape }}&amp;url={{ page.url | prepend: site.baseurl | prepend: site.url }}" target="_blank">
		<img class="icon icon--twitter" alt="Twitter" src="{{ "/assets/img/social-icons/icon-twitter-32x32.png" | prepend: site.baseurl }}">
	</a>
{% endif %}